html {
    font-size: 12px;
}

body {
    margin: 0;
    z-index: 0;
    font-family: "Helvetica Neue", 'arial';
}

a {
    text-decoration: none;
}

.fadein {
    opacity: 0.1;
    transform: translate(0, 50px);
    transition: all 0.5s ease-in-out;
}

.fadein.scrollin {
    opacity:1;
    transform: translate(0, 0);
}

.wf-loading .wrappper {
    visibility: hidden;
}

.wf-active .wrappper {
    visibility: visible;
}


.wrapper {
    display: block;
    background-color: black;
    overflow: hidden;
    height: 3500px;
}

.wrapper-small {
    display: none;
}


.top {
    position: relative;
    width: 625.5px;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.asset1-wrapper {
    position: absolute;
    width: 341.135px;
    height: 54.4px;
    top: 169.774px;
    left: 50%;
    transform: translateX(-50%);
}

.asset {
    width: 100%;
    height: 100%;
}

.asset2-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.asset2 {
    width: 100%;
    height: 100%;
    animation-name: keyframes1;
    animation-name: keyframes2;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@keyframes keyframes1 {
    from {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
        animation-timing-function: ease-out;
    }

    50% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }

    75% {
        transform: scale(0.5);
        animation-timing-function: ease-out;
    }



    to {
        transform: scale(1);
    }
}

@keyframes keyframes2 {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(-10deg);
        animation-timing-function: ease-out;
    }


    to {
        transform: rotate(0deg);
    }
}

.logo3-wrapper {
    position: absolute;
    width: 376.242px;
    height: 17.3px;
    top: 251.735px;
    left: 50%;
    transform: translateX(-50%);
}

.logo3 {
    width:100%;
    height: 100%;
}

.contact1-wrapper {
    position: absolute;
    width: 82.78px;
    height: 12.36px;
    top: 290.8px;
    left: 50%;
    transform: translateX(-50%);
}

.contact1 {
    width:100%;
    height: 100%;
}

.down-arrow-wrapper {
    position: absolute;
    width: 65.35px;
    height: 42px;
    top: 392px;
    left: 50%;
    transform: translateX(-50%);
}

.down-arrow {
    width: 100%;
    height: 100%;
}



.info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 304.37px;
}

.info-title-wrapper {
    width: 250.328px;
    height: 45.2px;
    margin-left: auto;
    margin-right: auto;
}

.info-title {
    width: 100%;
    height: 100%;
}

.link-pr {
    text-decoration: none;
}

.info-main-wrapper {
    display: flex;
    margin-top: 68.8px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.info-main-title {
    font-family : Helvetica Neue;
    font-size : 17px;
    font-weight: lighter;
    letter-spacing : 1.7px;
    color : #FFFFFF;
}

.info-main {
    margin-top: -6px;
    margin-left: 29px;
    font-family : kozuka-gothic-pr6n, sans-serif;
    font-size : 15px;
    font-weight: lighter;
    line-height : 36px;
    letter-spacing : 4.8px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
}

.info-main-wrapper-2 {
    display: flex;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.info-main-2-title {
    font-family : Helvetica Neue;
    font-size : 17px;
    font-weight: lighter;
    letter-spacing : 1.7px;
    color : #FFFFFF;
}

.info-main-2 {
    margin-top: -6px;
    margin-left: 29px;
    font-family : kozuka-gothic-pr6n, sans-serif;
    font-size : 15px;
    font-weight: lighter;
    line-height : 36px;
    letter-spacing : 4.8px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
}


.company {
    margin-left: auto;
    margin-right: auto;
    margin-top: 304.37px;
}

.company-title-wrapper {
    width: 220.714px;
    height: 45.2px;
    margin-left: auto;
    margin-right: auto;
}

.company-title {
    width: 100%;
    height: 100%;
}

.company-main-wrapper {
    color: #FFFFFF;
    font-family : kozuka-gothic-pr6n, sans-serif;
    font-weight: lighter;
    font-size : 15px;
    line-height : 36px;
    letter-spacing : 2.64px;
    width: 750px;
    margin-top:65.445px;
    margin-left: auto;
    margin-right: auto;
}


.company-main1-wrapper{
    display: flex;
}

.company-main1-title {

}

.company-main1 {
    margin-left: 25px;
}

.company-main2-wrapper {
    display: flex;
}

.company-main2 {
    margin-left: 25px;
}

.company-main3-wrapper {
    display: flex;
}

.company-main3 {
    margin-left: 25px;
}

.company-main4-wrapper {
    display: flex;
}

.company-main4 {
    margin-left: 25px;
}

.company-main5-wrapper {
    display: flex;
}

.company-main5 {
    margin-left: 25px;
}




.project {

}

.project-title-wrapper {
    width: 449.875px;
    height: 287.605px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 360.725px;
}

.project-title {
    width: 100%;
    height: 100%;
}


.project-main-wrapper {
    font-family : kozuka-gothic-pr6n, sans-serif;
    font-weight: lighter;
    font-size : 15px;
    line-height : 36px;
    letter-spacing : 4.8px;
    color : #FFFFFF;
    width: 508.7px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58.9px;
}

.link-logo-wrapper {
    position: relative;
    width: 380px;
    height: 140px;
    margin-top: 58.9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.link-logo {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.link-logo-overlay {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    opacity: 0;
    background: #000000;
}

.link-logo-wrapper:hover #inner-box {
    opacity: .9;
    transition: opacity .5s;
}

.inner-box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copyright {
    font-family : kozuka-gothic-pr6n, sans-serif;
    font-weight: lighter;
    font-size : 7.5px;
    line-height : 9px;
    letter-spacing : 2.4px;

    margin-top: 40px;
}


#l2 {
    letter-spacing: 2.2px;
}




.contact {
    margin-top: 506px;
    width: 169.11px;
    margin-left: auto;
    margin-right: auto;
}

.contact-copyright-wrapper {
    width: 100%;
    height: 14.181px;
}

.contact-copyright {
    width: 100%;
    height: 100%;
}

.contact-main-wrapper {
    width: 78px;
    height: 12px;
    margin-top: 23.527px;
    margin-left: auto;
    margin-right: auto;
}

.contact-main {
    width: 100%;
    height: 100%;
}

.upper-arrow-wrapper {
    margin-top: 10px;
    margin-left: auto;
    width: 102.4px;
    height: 21.5px;
}

.upper-arrow {
    width: 100%;
    height: 100%;
}






/* -----------------        For small screen      -------------------- */

@media  screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }

    .wrapper-small {
        display: block;
        background-color: black;
        overflow: hidden;
        height: 3480px;
    }

    .top-small {
        position: relative;
        width: 91.7%;
        height: auto;
        padding: 128.3% 0 0;
        margin-top: 68.15px;
        margin-left: auto;
        margin-right: auto;
    }

    .background-image-wrapper {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0%;
        left: 0%;
        animation-name: keyframes3;
        animation-name: keyframes4;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    .logo-small-wrapper {
        position: absolute;
        width: 71.5%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 32.4%;
    }

    .asset2-small-wrapper {
        position: absolute;
        width: 81.5%;
        height: auto;
        top: 50.6%;
        left: 50%;
        transform: translateX(-50%);
    }

    @keyframes keyframes3 {
        from {
            transform: scale(1);
        }
        25% {
            transform: scale(1.1);
            animation-timing-function: ease-out;
        }

        50% {
            transform: scale(1);
            animation-timing-function: ease-out;
        }

        75% {
            transform: scale(0.9);
            animation-timing-function: ease-out;
        }



        to {
            transform: scale(1);
        }
    }

    @keyframes keyframes4 {
        from {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(10deg);
            animation-timing-function: ease-out;
        }

        50% {
            transform: rotate(0deg);
            animation-timing-function: ease-out;
        }

        75% {
            transform: rotate(-10deg);
            animation-timing-function: ease-out;
        }


        to {
            transform: rotate(0deg);
        }
    }



    .contact-small-wrapper {
        position: absolute;
        width: 18.2%;
        height: auto;
        top: 58.65%;
        left: 50%;
        transform: translateX(-50%);
    }

    .down-arrow-small-wrapper {
        position: absolute;
        width: 14.22%;
        height: auto;
        top: 78.7%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* ------------------- Information small --------------------- */
    .information-smalll-wrapper {
        margin-top: 199.134px;
    }

    .information-small-title-wrapper {
        width: 59.2%;
        margin-left: auto;
        margin-right: auto;
    }

    .information-small-title {
        width: 100%;
    }

    .information-main1-small-wrapper {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-weight: lighter;
    }

    .information-main1-date {
        font-family: Helvetica Neue, Arial;
        font-size: 21.23px;
        letter-spacing: 0.9px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 64.4px;
    }

    .information-main1-small-content {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 4.54px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
        margin-top: 28.9px;
    }

    .information-main1-small-content2 {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 2.9px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    .information-main1-small-content3 {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    .information-main2-small-wrapper {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-weight: lighter;
    }

    .information-main2-small-date {
        font-family: Helvetica Neue, Arial;
        font-size: 21.23px;
        letter-spacing: 0.9px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 64.4px;
    }

    .link-pr-small {
        text-decoration: none;
    }

    .information-main2-small-content {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 4.14px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
        margin-top: 28.9px;
    }

    .information-main2-small-content2 {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 2.54px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    .information-main2-small-content3 {
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        font-weight: lighter;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        color: #FFFFFF;
        text-align: justify;
        text-justify: inter-ideograph;
    }

    /* ------------------- Company small --------------------- */
    .company-small-wrapper {
        margin-top: 268.24px;
    }

    .company-small-title-wrapper {
        width: 51.56%;
        margin-left: auto;
        margin-right: auto;
    }

    .company-main-small-wrapper {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45.35px;
        text-align: justify;
    }

    .company-main1-small {
        font-family: kozuka-gothic-pr6n, sans-serif;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        margin-top: 41.3px;
    }

    .company-main2-small {
        font-family: kozuka-gothic-pr6n, sans-serif;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        margin-top: 41.3px;
    }

    .company-main3-small {
        font-family: kozuka-gothic-pr6n, sans-serif;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        margin-top: 41.3px;
    }

    .company-main4-small {
        font-family: kozuka-gothic-pr6n, sans-serif;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        margin-top: 41.3px;
    }

    .company-main5-small {
        font-family:kozuka-gothic-pr6n, sans-serif;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        margin-top: 41.3px;
    }

    .main5-small {
        letter-spacing: 5.24px;
    }

    .main5-small2 {
        letter-spacing: 2.24px;
    }

    /* --------------- Project small ------------------ */
    .project-small-wrapper {
        width: 298.53px;
        margin-top: 226.92px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-title-small-wrapper {
        width: 51.8%;
        margin-left: auto;
        margin-right: auto;
    }

    .project-small-main-wrapper {
        width: 100%;
        margin-top: 76.25px;
    }

    .project-small-main-title-wrapper {
        width: 100%;
    }

    .project-small-main-1 {
        font-family : kozuka-gothic-pr6n, sans-serif;
        font-size: 16.45px;
        line-height: 28.2px;
        letter-spacing: 3.54px;
        color : #FFFFFF;
        font-weight: lighter;
        margin-top: 35px;
        text-align: justify;
    }

    .link-logo-wrapper-small {
        position: relative;
        width: 100%;
        height: 120.25px;
        margin-top: 58.9px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        background-color: #FFFFFF;
    }

    .link-logo-small {
        position: absolute;
        width: 95%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .copyright-small {
        margin-top: 30.25px;
        font-family : kozuka-gothic-pr6n, sans-serif;
        font-size: 8.2px;
        line-height: 14px;
        letter-spacing: 1.7px;
        color : #FFFFFF;
        font-weight: lighter;
    }


    .copy-small-1-wrapper {
        width: 69.8%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 301.8px;
    }

    .copy-small-1 {
        width: 100%;
    }

    .contact-small-2-wrapper {
        width:27.9%;
        margin-top: 33.21px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-small-2 {
        width: 100%;
    }

    .upper-arrow-small-wrapper {
        width: 12.5%;
        margin-left: 100%;
    }





}

















